<h1>Autor</h1>
<div class="author">
	<div>
		<p><%= nombre%></p>
		<p><a href="mailto:<%= email%>"><%= email%></a></p>
	</div>
	<div><img src="https://avatars3.githubusercontent.com/u/13179408?v=3&s=460"/></div>
</div>
